@import '../styles/index.scss';
$ellipsis-prefix-cls: #{$css-prefix}ellipsis;

.#{$ellipsis-prefix-cls} {
  &-ellipsis {
    overflow: hidden;
    display: inline-block;
    word-break: break-all;
    width: 100%;
  }
  &-width-mode {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
  }
  &-lines {
    position: relative;
    .shadow {
      display: block;
      position: absolute;
      color: transparent;
      opacity: 0;
      z-index: -999;
    }
  }
  &-lineClamp {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}
